body{
    font-size:1.25em;
}

article:nth-child(odd) img{
    float:left;
}

article:nth-child(even) img{
    float:right;
}

img{
    margin-right:10px;
}

article{
    height:280px;
    margin-left:15px;
    margin-right:10px;
    margin-bottom:10px;
    border:1px solid #000000;
    padding-left:10px;
    padding-right:10px;
}


