/* items */
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section div {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 3em;

}

.item-1 {
    display: none;
}

.item-2 {
    background: #33a8a5;
    grid-column: 2 / span 1;
    grid-row: 1;

}

.item-3 {
    background: #30997a;
    grid-column: 1 / span 2;
    grid-row: 4;
}

.item-4 {
    background: #6a478f;
    grid-column: 1 /span 1;
    grid-row: 2;
}

.item-5 {
    background: #da6f2b;
    grid-column: 2 /span 1;
    grid-row: 2;
}

.item-6 {
    display: none;
}

.item-7 {
    background: #e03f3f;
    grid-column: 1 /span 1;
    grid-row: 3;
}

.item-8 {
    background: #59a627;
    grid-column: 2 /span 1;
    grid-row: 3;
}

.item-9 {
    background: #4464a1;
    grid-column: 1 /span 1;
    grid-row: 1;
}


/* specific item styles */


@media screen and (min-width: 760px) {
    section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .item-1 {
        display: unset;
        background: #b03532;
        grid-column: 1 /span 1;
        grid-row: 1;
    }

    .item-2 {
        background: #33a8a5;
        grid-column: 2 / span 2;
        grid-row: 1;

    }

    .item-3 {
        background: #30997a;
        grid-column: 4 / span 1;
        grid-row: 1;
    }

    .item-4 {
        background: #6a478f;
        grid-column: 1 /span 1;
        grid-row: 2;
    }

    .item-5 {
        background: #da6f2b;
        grid-column: 2 /span 2;
        grid-row: 2;
    }

    .item-6 {
        display: unset;
        background: #3d8bb1;
        grid-column: 4 /span 1;
        grid-row: 2;
    }

    .item-7 {
        background: #e03f3f;
        grid-column: 1 /span 1;
        grid-row: 3;
    }

    .item-8 {
        background: #59a627;
        grid-column: 2 /span 2;
        grid-row: 3;
    }

    .item-9 {
        background: #4464a1;
        grid-column: 4 /span 1;
        grid-row: 3;
    }


}

